
#cv-body {
    min-height: 100%;
}

p {
    position: absolute;
    background: #F2E2C2;
    color: #231711;
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    box-shadow:
            10px 10px 20px #231711,
            -10px -10px 20px #ffffff77;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}
