body {
    background-color: var(--primary-color) !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 100%;
}

.error {
    font-size: 100px;
    font-weight: bold;
    color: var(--tertiary-color);
    text-shadow: 4px 4px 0 var(--primary-color);
}

button {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.error_message {
    border-radius: 3px;
    padding: 30px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    margin: 20px;
}