body {
    background-color: #231711 !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}

.error {
    font-size: 100px;
    font-weight: bold;
    color: #F2E2C2;
    text-shadow: 4px 4px 0px #000;
}