body {
    background-color: #231711 !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 100%;
}

.error {
    font-size: 100px;
    font-weight: bold;
    color: #F2E2C2;
    text-shadow: 4px 4px 0px #000;
}

button {
    background-color: #231711;
    color: #F2E2C2;
    border: 1px solid #F2E2C2;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #F2E2C2;
    color: #231711;
}

.error_message {
    border-radius: 3px;
    padding: 30px;
    background-color: black;
    color: #F2E2C2;
    margin: 20px;
}